body {
  background-color: burlywood;
  padding: 20px;
}

img {
  width: 200px;
  height: 200px;
}

a:link{
  color: royalblue;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  color: orangered;
  text-decoration: underline;
}

a:visited {
}
a:active{
  color: cadetblue;
}

h1 {
  font-size: 45px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 20px;
}
p {
  font-family: "Times New Roman", Times, serif;
}

ul{
  list-style-type: square;
}