body {
  background-color: burlywood;
  padding: 20px;
}

img {
  width: 100px;
  height: 100px;
}

a {
  color: royalblue;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  color: orangered;
  text-decoration: underline;
}
a:visited {
  font-style: italic;
}
