body {
  background-color: burlywood;
  padding: 0px;
}
header{
  background-color: bisque;
}

img {
  width: 200px;
  height: 200px;
}

a:link{
  color: royalblue;
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  color: orangered;
  text-decoration: underline;
}

a:visited {
}
a:active{
  color: cadetblue;
}

h1 {
  font-size: 55px;
  text-align: center;
  
}
h2 {
  font-size: 30px;
  color: brown;
}
h3 {
  font-size: 25px;
}

h5{
  font-size: 20px;
}

p {
  font-family: "Times New Roman", Times, serif;
}

ul{
  list-style-type: square;
}

footer{
  font-style: italic;
  background-color: bisque;
}